<html>
	<body>
			<h1>Submitted Information</h1>
					<h2>Name: <%= result.name %></h2>
					<h3>Location: <%= result.dojo_location %></h3>
					<h3>Favorite Language: <%= result.favorite_language %></h3>
					<h4>Comment: <%= result.comment %></h4>
					<button><a href="/">Go Back</a></button>
					<hr>
	</body>
	</html>